Utad.Lab.G04.DesktopWPF/bin/
Utad.Lab.G04.DesktopWPF/obj/
Utad.Lab.G04/Utad.Lab.G04.Domain/bin/
Utad.Lab.G04.MobileDroid/Utad.Lab.G04.MobileDroid.Android/bin/Debug
Utad.Lab.G04.MobileDroid/Utad.Lab.G04.MobileDroid.Android/obj
Utad.Lab.G04.MobileDroid/Utad.Lab.G04.MobileDroid/bin/Debug/
Utad.Lab.G04.MobileDroid/Utad.Lab.G04.MobileDroid/obj/